.background-home-image{
    position: absolute;
    top: 5%;
    left: 0;
    z-index: -2;
    width: 100%;
}

.recomended-place{
    font-size: 3em;
    font-weight: bolder;
    text-align: left;
    margin: 2% 10%;
    width: 80%;
    text-decoration: underline #8FFFAC;
    color: #40B35E;
}

.place-around-section{
    width: 83%;
    margin: 1% 8.5% 0% 8.5%;
    display: flex;
    >a{
        width: 23%;
        text-decoration: none;
        color: #FF8F93;
        // border: 1px solid black;
        margin: 2%;  
    }
}

.experiences-in-the-spotlight{
    font-size: 3em;
    font-weight: bolder;
    text-align: left;
    margin: 2% 10%;
    margin-top: 5% !important;
    width: 80%;
    text-decoration: underline #8FFFAC;
    color: #40B35E;
}

.experience-section{
    width: 83%;
    margin: 1% 8.5% 0% 8.5%;
    display: flex;
    >a{
        width: 23%;
        text-decoration: none;
        color:#FF8F93;
        // border: 1px solid black;
        margin: 2%;
    }
}
.show-all{
    text-decoration: underline #8FFFAC;
    color: #40B35E;
    text-align: left;
    margin: 2% 10%;
}