.recomended-place{
    font-size: 3em;
    font-weight: bolder;
    text-align: left;
    margin: 2% 10%;
    width: 80%;
    text-decoration: underline;
}

.place-around-section{
    width: 90%;
    margin: 1% 5% 0% 8.5%;
    display: flex;
    >a{
        width: 23%;
        text-decoration: none;
        color: black;
        // border: 1px solid black;
        margin: 2%;  
    }
}

.experiences-in-the-spotlight{
    font-size: 3em;
    font-weight: bolder;
    text-align: left;
    margin: 2% 10%;
    margin-top: 5% !important;
    width: 80%;
    text-decoration: underline;
}

.experience-section{
    width: 90%;
    margin: 1% 5% 0% 8.5%;
    display: flex;
    >a{
        width: 23%;
        text-decoration: none;
        color: black;
        // border: 1px solid black;
        margin: 2%;
    }
}