.quickcard-section{
    width: 80%;
    margin: 0 10%;
    .quickcard-box{
        border-radius: 2% 2% 2% 2%;
        background-color: orange;
        width: 45%;
        .title{
            display: flex;
            padding-top: 2.5%;
            margin: 5% 5% 0% 5%;
            line-height: 200%;
        }
        .search-content{
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
            display: flex;
            justify-content: flex-start;
            padding-left: 7%;
            font-size: 80%;
            font-weight: bold;
        }
    }
}