.quickcard-section{
    width: 80%;
    margin: 13% 10%;
    .quickcard-box{
        border-radius: 2% 2% 2% 2%;
        background-color: #FF8F93;
        width: 45%;
        padding: 0.5% 0;
        .title{
            display: flex;
            margin: 5% 5% 0% 5%;
            line-height: 200%;
        }
        .search-content{
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
            display: flex;
            justify-content: flex-start;
            padding-left: 7%;
            font-size: 80%;
            font-weight: bold;
        }
        .place-search{
            padding: 1% 7%;
            width: 86%;
            >input{
                width: 98%;
                padding: 1%;
            }
        }
        .check-container{
            display: flex;
            width: 86%;
            justify-content: space-between;
            padding: 1% 7%;
            >div{
                text-align: left;
                width: 50%;
                >input{
                    width: 95%;
                    border: none;
                    padding: 3% 0;
                }
            }
        }
        .book{
            width: max-content;
            padding: 1%;
            border-radius: calc(1px + 0.3em);
            border: #40B35E solid calc(1px + 0.3em);
            background: #40B35E;
            margin: auto;
            cursor: pointer;
        }        
    }
}