.bh-card{
    width: 98%;
    padding: 1%;
    border: calc(1px + 0.2px) #202020 solid;
    border-radius: calc(2px + 0.5em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bh-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >div{
            width: max-content;
            padding: 1.5%;
            border-radius: calc(2px + 0.5em);
        }
    }
    .bh-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .bh-left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .bh-title{
                display: flex;
                flex-direction: row;
                font-size: calc(12px + 1em);
            }
        }
        .bh-right{
            display: flex;
            flex-direction: column;
            font-size: calc(16px + 1em);
            >div{
                text-align: end;
            }
        }
    }
}