.save-container{
    .title{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        color: white;
        padding-left: 5%;
        padding-bottom: 1%;
    }
}