.save-container{
    .title{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        color:  #ffbdbd;
        font-size: calc(12px + 0.5em);
        font-weight: bold;
        padding-left: 5%;
        padding-bottom: 1%;
    }
}