.account-container{
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 5%;
    .account-title{
        display: flex;
        font-size: 3em;
        justify-content: center;
    }
    .account-content{
        display: flex;
        .left-content{
            width: 55%;
            padding-right: 2.5%;
            // background-color: red;
            .content{
                background-color: orange;
            }
        }
        .vr{
            border-left: thick solid #ff0000;
            height: 50vh;
        }
        .right-content{
            width: 40%;
            // background-color: cyan;
        }
    }
}