// .ReactModal__Content{
//     width: 50%;
//     bottom: 50% !important;
//     left: 50% !important;
//     transform: translate3d(-50%,50%,0);
// }

.signUp{
    font-weight: 500;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;

    .closeLogo{
        width: 2.5%;
        border-radius: 50%;
        border: #706f6f solid 1px;
        padding: 0.5%;
    }

    >div{
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 2%;
        margin: 1%;
        border-radius: 10px;
    }

    .fbSignUp{
        color: white;
        background-color: #3b5998;
        border: #3b5998 solid 2px;
        >img{
            width: 4%;
            padding: 0 1%;
        }
    }

    .googleSignUp{
        color: #202020;
        background-color: white;
        border: #202020 solid 2px; 
        >img{
            width: 4%;
            padding: 0 1%;
        }
    }

    .divider{
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        text-align: center;
        padding: 0% !important;
        width: 84%;
        hr{
            width: 50%;
            background-color: #202020;
        }
        div{
            width: 10%;
        }
    }

    .emailBar, .passBar, .firstNameBar, .lastNameBar{
        border: solid #202020 1px;
        justify-content: space-between;
        input{
            font-size: 16px;
            border:none;
            outline: none;
            width: 88%;
        }
        >img{
            width: 5%;
        }
    }

    .passBar{
        >div{
            display: flex;
            justify-content: flex-end;
            width: 12%;            
            img{
                margin-left: 2%;
                width: 40%;
            }
        }
    }
    .birthdayText{
        align-items: flex-start;
        flex-direction: column;
        margin: 1% 0;
        padding: 0;
        strong,div{
            padding: 1% 0;
        }
    }
    .birthdayBar{
        margin: 1% 0;
        padding: 0;
        select{
            width: 33%;
            margin: 0 1.5%;
            font-size: 20px;
        }
    }
    .signUpBtn{
        color: white;
        background-color: #c04848;
        //kalo di klik warnany gini gk sih?
        //background-color: #e09494;
        border: #c04848 solid 2px;

    }
}