*{
    transition: 0.5s ease-in-out;
}

header{
    z-index: 1!important;
    padding: 1%;
    display: flex;
    align-items: center;
    width: 98%;
    justify-content: space-between;
    font-size: 20px;
    background:transparent;
    >a{
        width: 5%;
        .mainLogo{
            width: 70%;
            transform: rotate(180deg) !important;
        }
    }
    .search{
        width: 35%;
        .searchBar{
            padding: 1% 0;
            width: 100%;
            border: 1px solid #bbbbbb;
            justify-content: space-around;
            .searchLogo{
                width: 6%;
            }
            >input{
                font-size: 20px;
                width: 85%;
                border: none;
                outline: none;
                background: transparent;
            }
        }
    }
    .menu{
        width: 50%;
        margin: 0 2.5%;
        >div,a{
            width: max-content;
            display: flex;
            justify-content: space-evenly;
            text-decoration: none;
            font-weight: 400;
            color: #202020;
        }
        .session-ctrl{
            width: 30%;
        }
    }
    .searchBar , .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}