header{
    z-index: 1!important;
    padding: 1%;
    display: flex;
    align-items: center;
    width: 98%;
    justify-content: space-between;
    font-size: 20px;
    background:transparent;
    >a{
        width: 5%;
        .mainLogo{
            width: 70%;
            transform: rotate(180deg) !important;
        }
    }
    .search{
        width: 35%;
        >#search-bar-result{
            position: absolute;
            background-color: #fff;
            width:35%;
            z-index:5000;
            >div>a{
                text-decoration: none
            }
        }
        .searchBar{
            padding: 1% 0;
            width: 100%;
            border: 1px solid #bbbbbb;
            justify-content: space-around;
            .searchLogo{
                width: 6%;
            }
            >input{
                font-size: 20px;
                width: 85%;
                border: none;
                outline: none;
                background: transparent;
            }
        }
    }
    .menu{
        width: 50%;
        margin: 0 2.5%;
        >div,a{
            width: max-content;
            display: flex;
            justify-content: space-evenly;
            text-decoration: none;
            font-weight: 400;
            color: #202020;
        }
        .session-ctrl{
            width: 30%;
        }
    }
    .searchBar , .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        input:focus ~.search-bar-result{
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
        }
    }
}

.out-button{
    background-color:#FF8F93;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1% 1%;
	text-decoration:none;
	text-shadow:1px 0px 0px black;
}

.out-button:hover{
    background-color: #F9B1FF;
}

.DayPicker{
    animation: unset !important;
    div{
        animation: unset !important;
    }
}