.save-detail{
    display: flex;
    width: 90%;
    margin: 3% 5%;
    .left{
        width: 40%;
        .title{
            font-size: calc(18px + 0.6em);
            font-weight: 600;
        }
        >div{
            width: 100%;
            img{
                width: 70%;
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    .right{
        width: 60%;
    }
}